<h2 id="title">Welcome to Ember! {{ emberFlowplayer.player.live }} {{ emberFlowplayer.isPlaying }}
    {{emberFlowplayer.duration}} {{emberFlowplayer.currentTime}}</h2>
<input type="range" name="points" min="0" max="{{emberFlowplayer.duration}}" value="{{emberFlowplayer.currentTime}}">
<EmberFlowplayer
    @source="https://cdn.rasset.ie/manifest/audio/2019/0404/20190404_rteradio1-bitesize-theryantub_c21535005_21535006_261_/manifest.m3u8"
    @live=0 />
{{outlet}}