{{! template-lint-disable }}
<h2>Ember Flowplayer Audio {{emberFlowplayer.nowPlaying.start}} {{emberFlowplayer.nowPlaying.duration}}</h2>
<ul>
    <li>isLive: {{ emberFlowplayer.isLive }}</li>
    <li>isPlaying: {{ emberFlowplayer.isPlaying }}</li>
    <li>Audio duration: {{emberFlowplayer.duration}}</li>
    <li>Audio Current Time: {{emberFlowplayer.currentTime}}</li>
    <li>Audio Volume: {{emberFlowplayer.player.volumeLevel}}</li>
    <li>Audio Id: {{emberFlowplayer.nowPlaying.audioId}}</li>
    <li>ready: {{emberFlowplayer.ready}}</li>

</ul>
<RteHlsPlayer />
{{outlet}}