<hr>
<h1>Most Popular {{model.length}} Playback Items</h1>
{{#each model as |item| }}
    <p>{{item.itemid}} {{item.title}} {{emberFlowplayer.isPlaying}} {{emberFlowplayer.audioId}}</p>

{{/each}}
{{outlet}}